<div class="container mt-4 card border-secondary">
  <h2>
    <%= title%>
  </h2>
  <form action="/dashboard/component" method="POST">
    <div class="mb-3">
      <label class="form-label">Marca</label>
      <select name="id_marca" class="form-control" required>
        <option value="" selected>Seleccionar</option>
        <% marcas.forEach(marca=> { %>
          <option value="<%= marca.id %>">
            <%= marca.marca %>
          </option>
          <% }); %>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Modelo</label>
      <select name="id_modelo" class="form-control" required>
        <option value="" disabled selected>Seleccionar</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Tipo Componente</label>
      <select name="id_tipo_componente" class="form-control" required>
        <option value="" selected>Seleccionar</option>
        <% tipos_componentes.forEach(tipo_componente=> { %>
          <option value="<%= tipo_componente.id %>">
            <%= tipo_componente.nombre %>
          </option>
          <% }); %>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Numero de serie</label>
      <input type="text" name="numero_serie" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
    <a href="/dashboard/component" class="btn btn-secondary btn-sm">Cancelar</a>
  </form>
</div>

<script>
  const marcaSelect = document.querySelector('select[name="id_marca"]');
  const modeloSelect = document.querySelector('select[name="id_modelo"]');

  marcaSelect.addEventListener('change', async () => {
    const marcaId = marcaSelect.value;
    const response = await fetch(`/dashboard/component/modelos/${marcaId}`);
    const modelos = await response.json();

    modeloSelect.innerHTML = ''; // Clear existing options    
    modelos.forEach(modelo => {
      const option = document.createElement('option');
      option.value = modelo.id;
      option.text = modelo.modelo;
      modeloSelect.appendChild(option);
    });
  });
</script>