<div class="container mt-4">
  <h2>Gestión de Permisos</h2>
  <a href="/dashboard/permissions/new" class="btn btn-success mb-2">Nuevo Permiso</a>
  <table class="table table-bordered table-striped text-center mt-4 ">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Ruta</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% permissions.forEach(permission=> { %>
        <tr>
          <td>
            <%= permission.nombre %>
          </td>
          <td>
            <%= permission.descripcion %>
          </td>
          <td>
            <%= permission.ruta %>
          </td>
          <td>
            <a href="/dashboard/permissions/<%= permission.id %>/edit" class="btn btn-sm btn-primary">Editar</a>
            <form action="/dashboard/permissions/<%= permission.id %>/delete" method="POST" class="d-inline">
              <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
            </form>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</div>