<div class="container mt-4">
  <h2>Gestión de Permisos</h2>
  <a href="/dashboard/permissions/new" class="btn btn-success mb-3">Nuevo</a>

  <!-- Búsqueda -->
  <form method="GET" action="/dashboard/permissions">
    <input type="text" name="search" placeholder="Buscar dispositivo..." value="<%= search %>">
    <button type="submit" class="btn-sm btn-success mt-2"><i class="fas fa-search"></i> Buscar</button>
  </form>

  <!-- Tabla de contenido a mostrar -->
  <table class="table table-bordered table-striped text-center mt-4 ">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Ruta</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% permissions.forEach(permission=> { %>
        <tr>
          <td>
            <%= permission.nombre %>
          </td>
          <td>
            <%= permission.descripcion %>
          </td>
          <td>
            <%= permission.ruta %>
          </td>
          <td>
            <a href="/dashboard/permissions/<%= permission.id %>/edit" class="btn btn-sm btn-primary">Editar</a>
            <form action="/dashboard/permissions/<%= permission.id %>/delete" method="POST" class="d-inline">
              <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
            </form>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <!-- Paginado -->
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <% for (let i=1; i <=Math.ceil(count / limit); i++) { %>
        <li class="page-item <%= i == page ? 'active' : '' %>">
          <a class="page-link" href="?page=<%= i %>&search=<%= search %>">
            <%= i %>
          </a>
        </li>
        <% } %>
    </ul>
  </nav>

</div>