<div class="container mt-4 card border-secondary">
  <h2>Editar Modelo</h2>
  <form action="/dashboard/models/<%= modelo.id %>/update" method="POST">
    <div class="mb-3">
      <label for="id_marca" class="form-label">Marca</label>      
      <select id="id_marca" name="id_marca" class="form-select" required>
        <% marcas.forEach(marca => { %>
          <option value="<%= marca.id %>" <%= marca.id === modelo.id_marca ? 'selected' : '' %>><%= marca.marca %></option>
        <% }); %>
      </select>    
    </div>
    <div class="mb-3">
      <label for="modelo" class="form-label">Modelo</label>
      <input type="text" id="modelo" name="modelo" class="form-control" value="<%= modelo.modelo %>" required>
    </div>
    <button class="btn btn-primary btn-sm" type="submit">Guardar Cambios</button>
    <a href="/dashboard/models" class="btn btn-secondary btn-sm">Cancelar</a>
  </form>
</div>