<div class="container mt-4">
    <h2>Listado de Areas</h2>
    <a href="/dashboard/areas/new" class="btn btn-success mb-3">Crear Area</a>

    <!-- Búsqueda -->
    <form method="GET" action="/dashboard/areas">
        <input type="text" name="search" placeholder="Buscar dispositivo..." value="<%= search %>">
        <button type="submit" class="btn-sm btn-success mt-2"><i class="fas fa-search"></i> Buscar</button>
    </form>

    <!-- Tabla de contenido a mostrar -->
    <% if (areas.length> 0) { %>
        <table class="table table-bordered table-striped text-center mt-4">
            <thead>
                <tr>
                    <th>Area</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% areas.forEach(area=> { %>
                    <tr>
                        <td>
                            <%= area.nombre %>
                        </td>
                        <td>
                            <a href="/dashboard/areas/<%= area.id %>/edit" class="btn btn-sm btn-primary">Editar</a>
                            <form action="/dashboard/areas/<%= area.id %>/delete" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else { %>
            </br>
            <div class="alert alert-warning">No existen datos para mostrar</div>
            <% } %>

                <!-- Paginado -->
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <% for (let i=1; i <=Math.ceil(count / limit); i++) { %>
                            <li class="page-item <%= i == page ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>&search=<%= search %>">
                                    <%= i %>
                                </a>
                            </li>
                            <% } %>
                    </ul>
                </nav>

</div>